<% content_for :title, "Home -> "+@settings.site_name %>

<%= render :partial=> 'layouts/top_menubar', :locals=> {:categories=> @categories, :current_page=> 'home'} %>

<div class="container-fluid">
  <div class="row-fluid">
  	<%= render :partial=> 'layouts/sidebar' %>
   <div class="span9">
   	<% @blogs.each_with_index do |blog, index| %>
   		<% if index==0 %>
		  <div class="hero-unit">
			<h1><a href="<%= '/'+ blog.to_param %>"><%= blog.title %></a></h1>
			<p><%= blog.summary %></p>
			<p><a class="btn btn-primary btn-large" href="<%= '/'+ blog.to_param %>">Read</a></p>
		  </div>
   		<% else %>
			<% if ((index-1) % 3)==0 %>
				  <% if index==1 %>
				  <% else %>
				  	</div>
				  <% end %>
				  <div class="row-fluid">
					<div class="span4">
					  <h2><a href="<%= '/'+ blog.to_param %>"><%= blog.title %></a></h2>
					  <p><%= blog.summary %></p>
					  <p><a class="btn" href="<%= '/'+ blog.to_param %>">View details &raquo;</a></p>
					</div><!--/span-->
			<% else %>
				<div class="span4">
				  <h2><a href="<%= '/'+ blog.to_param %>"><%= blog.title %></a></h2>
				  <p><%= blog.summary %></p>
				  <p><a class="btn" href="<%= '/'+ blog.to_param %>">View details &raquo;</a></p>
				</div><!--/span-->
			<% end %>
   		<% end %>
   	<% end %>
   	</div>

	</div><!--/span-->
  </div>
</div>
      
<%= render 'layouts/footer' %>