<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @blog.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @blog.body.html_safe %>
</p>

<p>
  <b>User:</b>
  <%= @blog.user_id %>
</p>


<% if user_signed_in? && current_user.id == @blog.user_id %><%= link_to 'Edit', edit_blog_path(@blog) %> | <% end %>
<%= link_to 'Back', blogs_path %>
