<% content_for :title, "Tagged: "+@tag.tag.to_s %>

<div class="span1">&nbsp;</div><div class="span1">&nbsp;</div>
<div class="span8">
<p id="notice"><%= notice %></p>

<center><h1>Tagged: <%= @tag.tag %></h1></center>

<% @tag.blogs.each do |blog| %>
  	<% if blog.isdraft == 0 %>
	  <h2><%= link_to blog.title,  '/'+blog.to_param %></h2>
	  <p><%= blog.summary %></p>
    <% else %>
    	<% if current_user && blog.user_id == current_user.id %>
			<h2><i><%= link_to blog.title,  '/'+blog.to_param %> DRAFT</i></h2>
			<p><i><%= blog.summary %></i></p>
			<%= link_to 'Edit', :controller=> 'blogs', :action=>'edit' %>
		<% end %>
    <% end %>
<% end %>

<br />
</div>
<div class="span2">
&nbsp;
</div>

<%= render 'layouts/footer' %>
