<% content_for :title, "Settings -> "+@settings.site_name.to_s %>

<div class="span1">&nbsp;</div><div class="span1">&nbsp;</div>
<div class="span8">
	<p id="notice"><%= notice %></p>
	<h2><%= link_to "Site Settings", :controller=> 'site_settings', :action=>'edit', :id=>'1' %></h2>

<%= form_tag(user_update_path, :method => "put", :class => 'form-horizontal', :multipart => true ) do %>
  <div class="control-group">
    <%= label_tag :user_first_name, "First Name: ", :class => 'control-label' %>
    <div class="controls">
      <%= text_field :user,:first_name,  :class => 'text_field', :placeholder=> 'First Name' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :user_last_name, "Last Name: ", :class => 'control-label' %>
    <div class="controls">
      <%= text_field :user,:last_name,  :class => 'text_field', :placeholder=> 'Last Name' %>
    </div>
  </div>
    <div class="control-group">
    <%= label_tag :user_gplus_url, "Google Plus URL: ", :class => 'control-label' %>
    <div class="controls">
      <%= text_field :user,:gplus_url,  :class => 'input-xxlarge', :placeholder=> 'eg: https://plus.google.com/102169436652915483497' %><span class="help-inline">Required to claim Authorship in Google Results</span>
    	<p>Note: If you update this, you must also update the <%= link_to "Contribute To", 'http://plus.google.com/me/about/edit/co' %> section of your Google Plus profile.</p>
    </div>
  </div>
    <%= submit_tag 'Update', :class => 'btn btn-large btn-block btn-primary' %>
<% end %>

<div class="span2">
</div>
<%= render 'layouts/footer' %>

<%= debug @user %>