<% content_for :title, @category.name %>

<%= render :partial=> 'layouts/top_menubar', :locals=> {:categories=> @categories, :current_page=> @category.name} %>

<div class="span1">&nbsp;</div><div class="span1">&nbsp;</div>
<div class="span8">
<p id="notice"><%= notice %></p>

<center><h1><%= @category.name %></h1></center>

<% @category.blogs.each do |blog| %>
  <h2><%= link_to blog.title,  '/'+blog.to_param %></h2>
    <p><%= blog.summary %></p>
<% end %>

<br />
</div>
<div class="span2">
&nbsp;
</div>

<%= render 'layouts/footer' %>
